<br/>
<h2>@ViewData["AppsettingsPath"]</h2>
<ul>
    @foreach (var error in Model.Errors) {
        <li>@error</li>
    }
</ul>
<h4>@Html.Raw(ViewData["ErrorDescription"])</h4>
<p>Please refer to the <a href="https://github.com/mdanetzky/KontomatikServiceDemo">manual</a></p>