<br/>

<div id="kontomatik" client="@ViewData["Client"]"></div>
<form name="kontomatikForm" method="POST" action="./Result">
    <input type="hidden" name="SessionId"/>
    <input type="hidden" name="Target"/>
</form>
<script src="https://signin.kontomatik.com/assets/signin-widget.js"></script>