<br/>
<h2> Connected to @ViewData["Target"] </h2>
<br/><br/><br/>
<div id="kontomatik-actions" session-id="@ViewData["SessionId"]" class="row">
	<div id="accounts-div" class="col-md-4"></div>
	<div id="owners-div" class="col-md-4"></div>
	<div id="finhealth-div" class="col-md-4"></div>
</div>
<br/><br/><br/>